/* I NEED TO EXPLAIN A WHOLE LOT BUT WILL LATER 
FOR NOW JUST ADD 
Comment: Aida explains this function in the main css page. Please refer back to that, thank you. 
*/
@charset "UTF-8";
/* Insert custom CSS to override the template CSS */
* {
  box-sizing: border-box; 
}

/* Body element added by Aida on November 15th */
html, body {
    position: absolute;
    height: 100%; 
    width: 100%; 
    overflow-x: hidden;  
    font-family: 'Raleway', sans-serif;; 
}

/***********************
* Owner: Aida Tuhcic
* Date: November 15th 
* Comments: Added css elements to the logo. 
* Purpose: The following code down below, formats the logo in place - for it to align with the navigation bar. 
           As well, I also resized the image below. 
***********************/

/* logo class */
.logo {
    position: absolute; 
    margin-left: 0px; 
    margin-top: -45px; 
}

/* logo image */ 
.logo img {
    height: 150px;  
}
/* End Owner: Aida Tuhcic */


/* Edited by Aida Tuhcic December 7th will update with more detailed comments. */
/*Hero image style by Sunayana*/
.hero-image { 
    height: 100%; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/lake.jpg");
    background-position: relative;
    background-size: cover;
    background-position: no-repeat; 
    min-height: 10%;
}


/***********************
* Owner: Aida Tuhcic
* Date: November 15th 
* Comments: Added css elements to the slogan. 
* Sources: Some elements are derived from https://www.w3schools.com/howto/howto_css_hero_image.asp, however not all.
           Will put extra comments down below displaying which elements. 
           - The translate element down below allows for an element to be repositioned in a vertical/horizontal direction.
           - The reason I used it was to align the slogan in the center of the hero image.
           - Used inspect tool on the browser to figure out the right dimensions for the media queries.  
* Purpose: The following code down below, formats the slogan in the center of the hero image. 
           - Also added media queries, for the text to render properly when a user changes devices or their browser viewport.  
***********************/

/* slogan */
.slogan, 
    .h1, .p {
    color: #ffffff;
    text-shadow: 0 0 5px #000000;  
    position: absolute; 
    text-align: center; 
    top: 50%; 
    left: 50%;  
    width: 100%; 
    transform: translate(-50%, -50%); /* Source w3schools. */

}

/* h1 element located in slogan class */
.slogan h1 {
    color: inherit; 
    font-size: 6em;  
}

/* media query for slogan .h1 */
@media all and (min-width: 414px) and (max-width: 767px) {
    .slogan h1 {
      padding-top: 25%; 
      font-size: 3.2em; 
    }
  }

  @media all and (min-width: 414px) and (max-width: 900px) {
    .slogan h1 {
      padding-top: 20%; 
      font-size: 3.2em; 
    }
  }


/* paragraph element located in slogan class */
.slogan p {
    font-size: 1.5em; 
    font-style: italic; 
}

/* media query for slogan paragraph element */
@media all and (min-width: 414px) and (max-width: 767px) {
    .slogan p {
      padding-top: -25%; 
      font-size: 1.2em; 
    }
  }

  /* media query for slogan paragraph element */
@media all and (min-width: 414px) and (max-width: 900px) {
  .slogan p {
    padding-top: -25%; 
    font-size: 1.2em; 
  }
}

/* End Owner: Aida Tuhcic */

/***********************
* Owner: Aida Tuhcic
* Date: November 15th 
* Comments: Added css elements to the button arrow png located in the hero image. 
* Sources: Some elements are derived from https://www.w3schools.com/howto/howto_css_hero_image.asp, however not all.
           Will put extra comments down below displaying which elements. 
           - The translate element down below allows for an element to be repositioned in a vertical/horizontal direction.
           - The reason I used it was to align the button arrow png in the center of the hero image. 
           - Used inspect tool on the browser to figure out the right dimensions for the media queries. 
* Purpose: The following code down below, formats the button arrow png in the center of the hero image. 
           - The button arrow png acts as a continue button for the user to continue down to next section of the webpage. 
           - Also added media queries, for the text to render properly when a user changes devices or their browser viewport.  
***********************/

/* button arrow class */ 
.button-arrow { 
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -80%); /* Source w3schools. */
}

/* media query for button arrow class */ 
@media all and (min-width: 414px) and (max-width: 767px) {
    .button-arrow {
      position: absolute; 
      padding-top: 25%;
      top: 70%;
      left: 50%;  
      transform: translate(-50%, -70%); /* Source w3schools. */
    }
}

/* media query for button arrow class */ 
@media all and (min-width: 414px) and (max-width: 900px) {
  .button-arrow {
    position: absolute; 
    padding-top: 25%;
    top: 72%;
    left: 50%;  
    transform: translate(-50%, -72%); /* Source w3schools. */
  }
}


/* button arrow img */ 
.button-arrow img {
    position: inherit; 
    height: 100px; 
}

/* media query for button arrow img */ 
@media all and (min-width: 414px) and (max-width: 767px) {
    .button-arrow img {
        position: inherit; 
        height: 80px; 
    }
}

/* media query for button arrow img */ 
@media all and (min-width: 414px) and (max-width: 900px) {
  .button-arrow img {
      position: inherit; 
      height: 70px; 
  }
}

/* End Owner: Aida Tuhcic */

/* Edited by Aida Tuhcic December 7th will update with more detailed comments. */
/* Footer style added by Terrie-Ann 17/11/2021 */
.footer-container {
    position: relative;
    min-height: 100vh; 
    min-width: 100vh;
    overflow: hidden;
    display: block; 
}
 
/* Edited by Aida Tuhcic December 7th will update with more detailed comments. */
footer { /*footer by Terrie-Ann 15/11/2021*/
    position: absolute; 
    margin: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    padding: 17px;  
    width: 100%; 

    background-color: #85B4B4;/*Footer background colour updated by Terrie-Ann 17/11/2021*/
    color: #ffffff; 
    font-style: 'Raleway';
    font-size: 1em;
    text-align: center; 
}

footer img {
    height: 25px; 
}

@media all and (max-width: 580px) {
  .footer-container {
    position: relative;
    top: 0%;
    left: -10%;  
    transform: translate(-10%, 0%); /* Source w3schools. */
  }
}


/* KEEP NAV CSS AT THE END THANK YOU! */
/* Edited by Aida on December 7th will update/explain with more detailed comments and sources! */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    padding: 4px; 
}

.topnav a {
    float: right; 
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.active {
    background-color: #85B4B4;
    color: #000000;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: right;
    display: block; 
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 15px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
  font-style: 'Raleway';
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 173px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-style: 'Raleway';
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, 
.dropdown:hover 
.dropbtn {
    font-style: 'Raleway';
    background-color: #85B4B4;
    color: white;
}

.dropdown-content 
a:hover {
  font-style: 'Raleway';
  background-color: #c2d6d6;
  color: #000000;
}

.dropdown:hover 
.dropdown-content {
  display: block;
}

@media screen and (max-width: 905px) {
.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 905px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: center;
}

.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: center;
}
}

/*Team Page CSS. Owner: Terrie-Ann. December 6, 2021.*/
/*Container holds teams section*/
.container {
  padding:128px 16px;
}

/*Make images and bio appear in column form*/

.image {
  display: block;
  width: 100%;
  height: 100%;
  border:5px outset silver;
}

.w3-sidebar.w3-bar-block.w3-black.w3-card.w3-animate-left.w3-hide-medium.w3-hide-large {
  display:none;
}

.w3-col.l3.m6.w3-margin-bottom {
  height: 200px;
}
.w3-row-padding {
  margin-top:64px;
  margin-bottom:200px;
  
}
/*Each team member's column (card) has its own card for ease of editing and updating based on contents*/
div.card1 {
  background-color: #85B4B4;
  height: 500px;
} 

div.card2 {
  background-color: #85B4B4;
  height: 100px;
}
/*Provides equal spacing for each card*/
div.cardgap1 {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}
div.cardgap2 {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}
div.cardgap3 {
  display: grid;
  grid-template-columns: auto;
  gap: 100px;
}
div.cardgap4 {
  display: grid;
  grid-template-columns: auto;
  gap: 42px;
}
/*This gives the heading for each section of the teams and projects pages their own style*/
.team {
  font-family: 'Raleway', sans-serif;
}
/*This contains the gallery section contents*/
.textalign {
  text-align: center;
  border: 3px solid black;
  background-color: #85B4B4;
  font-family: 'Raleway', sans-serif;
  margin-top:64px;
  margin-bottom:64px;
}
/*To give the images their dimensions and positions, animations and appearance*/
div.map {
  margin: 5px;
  float: left;
  width: 100%;
  padding: 5px;
}

div.map:hover {
  border: 5px solid #85B4B4;
}

div.map img {
  width: 100%;
  
}
 div.map img:hover {
    transform: scaleX(+1);
  }
  div.map img {
  border-radius: 8px;
}

div.desc {
  padding: 15px;
  text-align: center;
}


/* Two image container */

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 0 8px;
  display: block;
}
.row {
  padding: 0 16px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*End Owner - Terrie-Ann*/
